html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Helvetica;
}

nav {
  background: #5abd00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {

}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 10px;
}
