/* Tipografias */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables*/

:root {
  --green-color: #7ACC2D;
  --white-color: #FFF;

/* Espaciado */
--space:10px;

}



html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  background: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: #ff0;
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

/* ------------------------------------Main section */

.main_button {
  background-color: var(--green-color);
  padding: var(--space);
  width: 100%;
  color: var(--white-color);
  font-size: 12px;
  border: 0;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
  cursor: pointer;
}

.main_section {
  padding: 15%;
  text-align: center;
}

.img_content {
  text-align: center;
}

.products {
  background-image: url("../images/curve.png");
  background-size: cover;
  background-position: center top;
  max-height: 50px;
  padding: 20%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -230px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: 0 0 1px #c1bcbc;
}
