/* Tipografias */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables*/

:root {
  --green-color: #7ACC2D;
  --white-color: #FFF;

/* Espaciado */
--space:10px;

}



html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
